/* VARIABLES---------------------------------------------------------------*/

//=====================================
//  color variables
//=====================================
$bg-nav-color: #58e1c1; // teal
$font-color: #777; // grey
$btn-color: #fff; // off-white
$color-col-3: #deb2ee; // light-purple
$color-col-4: #7ee6fd; // powderblue
$color-col-7: #ec9fa3; // pink

//======================================
//    Font Variables
//======================================
$font-stack-primary: "Lato", sans-serif;
$secondary-font: italic;

//======================================
//    Breakpoint Variables
//======================================

$breakpoint-tablet: 768px;




